In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests

In [2]:
web='https://chromedriver.chromium.org/downloads'

In [3]:
driver=webdriver.Chrome(r'web')

In [5]:
driver.get("https:/www.billboard.com/")

In [6]:
a=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
a.click()
time.sleep(3)

In [8]:
b=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
b.click()
time.sleep(3)

In [9]:
song = []
artist = []
last = []
peak = []
week = []

In [10]:
song_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song_tag:
    song.append(i.text)

In [11]:
a_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in a_tag:
    artist.append(i.text)

In [12]:
l_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for i in l_tag:
    last.append(i.text)
    time.sleep(3)

In [13]:
p_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in p_tag:
    peak.append(i.text)
    time.sleep(3)

In [14]:
w_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for i in w_tag:
    week.append(i.text)
    time.sleep(3)

In [15]:
len(song),len(artist),len(last),len(peak),len(week)

(100, 100, 100, 100, 100)

In [17]:
df=pd.DataFrame({'SONG':song,'ARTIST':artist,'LAST WEEK RANK':last,'PEAK POSITION':peak,'WEEKS ON BOARD':week})
df

,SONG,ARTIST,LAST WEEK RANK,PEAK POSITION,WEEKS ON BOARD
0,Flowers,Miley Cyrus,2,1,9
1,Last Night,Morgan Wallen,1,1,7
2,Kill Bill,SZA,3,2,14
3,Die For You,The Weeknd & Ariana Grande,4,1,33
4,Creepin',"Metro Boomin, The Weeknd & 21 Savage",6,3,15
...,...,...,...,...,...
95,180 (Lifestyle),Morgan Wallen,63,63,2
96,F150-50,Morgan Wallen,53,53,2
97,Private Landing,Don Toliver Featuring Justin Bieber & Future,89,72,3
98,Dancin' In The Country,Tyler Hubbard,-,87,4
99,Wine Into Water,Morgan Wallen,59,59,2

In [18]:
driver.close()