In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests

In [2]:
web='https://chromedriver.chromium.org/downloads'

In [3]:
driver=webdriver.Chrome(r'web')

In [4]:
driver.get("https://github.com/")

In [5]:
se=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
se.click()

In [6]:
seen=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
seen.click()

In [7]:
rep_tit = []
rep_des = []
con_con = []
lan_use = []

In [27]:
rept=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in rept[0:10]:
    rep_tit.append(i.text)

In [18]:
df=pd.DataFrame({'a':rep_tit})
df

                       a
0  dreamworksanimation /
1       comfyanonymous /
2          logspace-ai /
3             setzer22 /
4           ayaka14732 /
5          whoiskatrin /
6            acheong08 /
7               apache /
8                tloen /
9                THUDM /

In [19]:
repd=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in repd[0:10]:
    rep_des.append(i.text)

In [20]:
df=pd.DataFrame({'c':rep_des})
df

                                                   c
0  A powerful and modular stable diffusion GUI wi...
1  ‚õìÔ∏è LangFlow is a UI for LangChain, designed wi...
2          Run LLaMA inference on CPU, with Rust ü¶ÄüöÄü¶ô
3  A simple and open-source proxy API that allows...
4  SQL Translator is a tool for converting natura...
5    Reverse engineered API of Microsoft's Bing Chat
6  Apache OpenDAL: Access data freely, painlessly...
7      Finetuning InstructLLaMA on consumer hardware
8  ChatGLM-6BÔºöÂºÄÊ∫êÂèåËØ≠ÂØπËØùËØ≠Ë®ÄÊ®°Âûã | An open bilingual dial...
9                    ËøôÂÑøÊî∂ÈõÜ‰∫Ü‰∏Ä‰∫õÂÖçË¥πÂ•ΩÁî®ÁöÑChatGPTÈïúÂÉèÁ´ô ÂΩìÂâçÔºö60‰∏™Á´ôÁÇπ

In [21]:
conn=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in conn[0:10]:
    con_con.append(i.text)

In [22]:
df=pd.DataFrame({'d':con_con})
df

       d
0  1,825
1    103
2  1,894
3    156
4    512
5     36
6    968
7     26
8  1,072
9    149

In [23]:
lanu=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lanu[0:10]:
    lan_use.append(i.text)

In [24]:
df=pd.DataFrame({'a':lan_use})
df

                  a
0             CMake
1            Python
2        TypeScript
3              Rust
4        JavaScript
5        TypeScript
6            Python
7              Rust
8  Jupyter Notebook
9            Python

In [25]:
df=pd.DataFrame({'REPOSITORY TITLE':rep_tit,'REPOSITORY DESCRIPTION':rep_des,'CONTRIBUTE COUNT':con_con,'LANGUAGE USE':lan_use})
df

,REPOSITORY TITLE,REPOSITORY DESCRIPTION,CONTRIBUTE COUNT,LANGUAGE USE
0,dreamworksanimation /,A powerful and modular stable diffusion GUI wi...,"1,825",CMake
1,comfyanonymous /,"‚õìÔ∏è LangFlow is a UI for LangChain, designed wi...",103,Python
2,logspace-ai /,"Run LLaMA inference on CPU, with Rust ü¶ÄüöÄü¶ô","1,894",TypeScript
3,setzer22 /,A simple and open-source proxy API that allows...,156,Rust
4,ayaka14732 /,SQL Translator is a tool for converting natura...,512,JavaScript
5,whoiskatrin /,Reverse engineered API of Microsoft's Bing Chat,36,TypeScript
6,acheong08 /,"Apache OpenDAL: Access data freely, painlessly...",968,Python
7,apache /,Finetuning InstructLLaMA on consumer hardware,26,Rust
8,tloen /,ChatGLM-6BÔºöÂºÄÊ∫êÂèåËØ≠ÂØπËØùËØ≠Ë®ÄÊ®°Âûã | An open bilingual dial...,"1,072",Jupyter Notebook
9,THUDM /,ËøôÂÑøÊî∂ÈõÜ‰∫Ü‰∏Ä‰∫õÂÖçË¥πÂ•ΩÁî®ÁöÑChatGPTÈïúÂÉèÁ´ô ÂΩìÂâçÔºö60‰∏™Á´ôÁÇπ,149,Python

In [28]:
driver.close()