In [1]:
# Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. 
#You have to scrape 3 attributes of each sneaker: 
#1. Brand 
#2. Product Description 
#3. Price

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
web='https://chromedriver.chromium.org/downloads'

In [4]:
driver=webdriver.Chrome(r"C:\Users\Pratik Shukla\Downloads\FLIP ROBO\chromedriver.exe")

In [5]:
driver.get("https://www.flipkart.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [8]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [9]:
# create Empty list
brand_tag = []
product_description = []
price_tag = []

In [10]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    br=(i.text)
    brand_tag.append(br)

In [11]:
pro_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro_tags:
    pr=(i.text)
    product_description.append(pr)

In [12]:
price_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro_tags:
    prc=(i.text)
    price_tag.append(prc)

In [13]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles:
        brand_tag.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [14]:
start=0
end=2
for page in range(start,end):
    tit=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in tit:
        product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [15]:
start=0
end=2
for page in range(start,end):
    t=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in t:
        price_tag.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [16]:
len(brand_tag),len(product_description),len(price_tag)

(120, 120, 120)

In [18]:
df=pd.DataFrame({'BRAND':brand_tag[0:100],'PRODUCT_DETAIL':product_description[0:100],'PRICE':price_tag[0:100]})
df

,BRAND,PRODUCT_DETAIL,PRICE
0,BIRDE,Sneakers For Women,Sneakers For Women
1,SFR,Sneakers For Men,Sneakers For Men
2,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,Combo Pack of 2 Casual Shoes Sneakers For Men
3,SFR,Sneakers For Men,Sneakers For Men
4,Shozie,Stylish Sneakers Shoes for Women And Girls Sne...,Stylish Sneakers Shoes for Women And Girls Sne...
...,...,...,...
95,BERSACHE,"Bersache Casual Shoes For Men Waliking,Sneaker...","Bersache Casual Shoes For Men Waliking,Sneaker..."
96,Sparx,SM-671 Sneakers For Men,SM-671 Sneakers For Men
97,ORICUM,"Oricum Casual Shoes Walking ,Sneakers Canvas c...","Oricum Casual Shoes Walking ,Sneakers Canvas c..."
98,Layasa,Sneakers For Women,Sneakers For Women
99,HRX by Hrithik Roshan,Sneakers For Men,Sneakers For Men