In [1]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
    #job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
#1. First get the webpage https://www.naukri.com/ 
#2.  Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 
#3. Then click the search button. 
#4. Then scrape the data for the first 10 jobs results you get. 
#5. Finally create a dataframe of the scraped data.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
web='https://chromedriver.chromium.org/downloads'

In [4]:
driver=webdriver.Chrome(r"web")

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
skill=driver.find_element(By.CLASS_NAME,"suggestor-input")
skill.send_keys('Data Scientist')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
# create Empty list
job_title = []
job_location = []
company_name = []

In [13]:
#scraping job title from the given page  Title_tags - givenpath
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping comapny name from the given pages
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [14]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [15]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_tags':company_name})
df

,Title,Location,Company_tags
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
2,Data Scientist,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Cognizant
3,Staff Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes
4,Sr. Data scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services (TCS)
5,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini
6,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft
7,Expert Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL Limited
8,Data Scientist Architect,"Temp. WFH - Hyderabad/Secunderabad, Bangalore/...",Brace Infotech
9,Data Scientist,"Noida, Indore, Pune, Gurgaon/Gurugram, Bangalo...",Impetus Technologies