In [1]:
# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name, experience_required. 
#You have to scrape first 10 jobs data. 
#This task will be done in following steps: 
#1. First get the webpage https://www.naukri.com/ 
#2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter
#        the location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get. 
#5. Finally create a dataframe of the scraped data.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
web='https://chromedriver.chromium.org/downloads'

In [4]:
driver=webdriver.Chrome(r'web')

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
# create Empty list
job_title = []
job_location = []
company_name = []
experience_required = []

In [10]:
#scraping job title from the given page  Title_tags - givenpath
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping comapny name from the given pages
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experiance from the given page
experiance_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experiance_tags[0:10]:
    experiance=i.text
    experience_required.append(experiance)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_tags':company_name,'Experience':experience_required})
df

,Title,Location,Company_tags,Experience
0,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
1,Data Analyst,"Hybrid - Hyderabad/Secunderabad, Pune, Bangalo...",EY,5-10 Yrs
2,Data Analyst - Pharma/hls Domain (4-9 Years),"Mumbai, Pune, Gurgaon/Gurugram, Bangalore/Beng...",Fractal Analytics,10-20 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
5,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
6,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,FresherMart,2-3 Yrs
8,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs