In [1]:
# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required. The location filter to 
 #be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
#The task will be done as shown in the below steps:
#1. first get the webpage https://www.naukri.com/
#2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
#3. Then click the searchbutton.
#4. Then apply the location filter and salary filter by checking the respective boxes
#5. Then scrape the data for the first 10 jobs results youget.
#6. Finally create a dataframe of the scraped data.
#Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
web='https://chromedriver.chromium.org/downloads'

In [4]:
driver=webdriver.Chrome(r"web")

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
location_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
location_delhi.click()

In [9]:
salary_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary_delhi.click()

In [10]:
# create Empty list
job_title = []
job_location = []
company_name = []
experience_required = []

In [11]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=(i.text)
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=(i.text)
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=(i.text)
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=(i.text)
    experience_required.append(experience)

In [12]:
length=(len(job_title),len(job_location),len(company_name),len(experience_required))
length

(10, 10, 10, 10)

In [13]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
7,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
8,Data Scientist,"Hybrid - Delhi / NCR, Noida, New Delhi, Gurgao...",Nits Solutions,3-7 Yrs
9,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs